.about{
        display: none;
} 
 
@media screen and (min-width: 1200px) {
.about{
    display: flex;
    padding-bottom: 94px;
    padding-top: 0px;
    padding-left: 215px;


        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
          
        }
        &__item{
            position: relative;
            
        }

        &__item--img{
            margin-right: 30px;
        }
        &--title{
            position: absolute;
            font-family: var(--main-font);
            font-style: bold;
            width: 370px;
            height: 70px;
            text-align:center;
            justify-content: center;
            padding-top: 27px;
            display: flex;
            font-size: 14px;
            line-height: 1.143;
            text-transform: uppercase;
            bottom: 0px;
            color:var(--light-color);
            letter-spacing: 0.03em;
            background: rgba(47, 48, 58, 0.8);
        }
    } 
}   

