.footer{

    background: var(--bgcolor-dark);
    height: 252px;
}
.address-list-first{
    padding-top: 20px;
    display: block;
}
.address-list-link-street{

    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    padding-bottom:9px;
}
.address-list-item{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff; 
    padding-bottom: 9px;

    &:hover,
    &:focus{
    color: var(--main-color);
    }

    &:last child{
    padding-bottom:60px;
    }
}
.address-list-link{

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 9px;

    &:hover,
    &:focus{
    color: var(--main-color);

    }
}
.join-us, .sign-up-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-color);
	padding-top: 12px;
	padding-bottom: 20px;

}

.contact-us-content{
    padding-left: 70px;
}
.sign-up{
    padding-left: 71px;
}
.sign-up-form{
    display: flex;
}
.sign-up-form-input{
    width:358px;
    height: 50px;
    border: 1px solid 
    rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    background-color: transparent;
  
    &:focus{
    outline: none;
	border-color: var(--primary-color)
    }

    &::placeholder{
   color: var(--primary-color); 
    }
}
.signup{
   
    position: relative;
    
}
.sign-up-modal-form-icon{
    position: absolute;
    width: 24px;
	height: 24px;
	right: 28px;
    top: 13px;
}


