.header {
	border-bottom: 1px solid #ececec;

	& .address-contact {
		justify-content: flex-end;
	}
}


.navigation,
.address-contact,
.mobile-socials__list {
	display: none;
}

@media screen and (min-width: 768px){
	.menu__hamburger{
        display: none;
    }

	.navigation {
		display: flex;

		&__list {
			display: flex;
		}
		&__item {
			margin-right: 46px;
			padding-top: 32px;
		}

		&__item::not(last-child) {
			margin-right: 60px;
		}

		&__link {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.143;
			letter-spacing: 0.02em;
			transition: width 250ms, left 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}

		&__link {
			position: relative;
			color: var(--secondary-color);
		}

		&__link::after {
			position: absolute;
			content: ' ';
			width: 0;
			height: 4px;
			border-radius: 2px;
			background: var(--main-color);
			top: 44px;
			right: 0;
			transition: width 250ms, left 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		&__link:focus,
		&__link:hover {
			color: var(--main-color);
		}

		&__link:focus:after,
		&__link:hover:after {
			width: 100%;
			left: 0;
		}
	}

	.navigation__link.active__link {
		position: relative;
		color: var(--main-color);
	}

	.navigation__link.active__link::after {
		position: absolute;
		content: ' ';
		/*display: block;*/
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background: var(--main-color);
		top: 44px;
		right: 0;
		transition: width 250ms, left 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.address-contact {
		margin-left: auto;
	}

	.email {
		display: flex;
		align-items: center;
		margin-right: 15px;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.142;
		letter-spacing: 0.02em;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		color: var(--acccent-color);

		&:focus,
		&:hover {
			color: var(--main-color);
		}
	}

	.phone-number {
		font-weight: 500;
		
		margin-right: 47px;
		font-size: 12px;
		line-height: 1.142;
		/*margin-top: 10px;*/
		letter-spacing: 0.02em;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		color: var(--acccent-color);

		&:focus,
		&:hover {
			color: var(--main-color);
		}
	}

	.email,
	.phone-number {
		font-style: normal;
		display: flex;
		color: var(--acccent-color);
	}

	.envelope__icon {
		width: 16px;
		height: 12px;
		margin-right: 8px;
		fill: currentColor;
	}
	.mobile__icon {
		width: 10px;
		height: 16px;
		margin-right: 8px;
		fill: currentColor;
	}
}
@media screen and (min-width: 1200px) {
	.navigation {
		display: flex;
		
		&__list{
			display: flex;
		}	
		&__item:not(:last-child) {
			margin-right: 46px;
		}
	}
	.email {
		margin-left: auto;
		margin-right: 50px;
		margin-bottom: 10px;
	}
	.address-contact {
		display: flex;
		align-items: center;
	}
	.phone-number {
		margin-right: 48px;
	}
	.envelope__icon {
		width: 16px;
		height: 12px;
		margin-right: 8px;
		fill: currentColor;
	}
	.mobile__icon {
		width: 10px;
		height: 16px;
		margin-right: 8px;
		fill: currentColor;
	}
}
