.hero__title {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.615;
	letter-spacing: 0.06em;
	color: var(--light-color);
	text-align: center;
	text-transform: uppercase;
	max-width: 365px;
	margin: 0 auto;
	padding: 0 0 30px;
}

.hero__btn{
	padding-top: 118px;
	padding-bottom: 118px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url('../images/hero/header mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero__btn {
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/hero/header mobile@2x.jpg');
		background-size: cover;
	}
}
.hero__btn{
	padding-top: 118px;
	padding-bottom: 118px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url('../images/hero/header tablet.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero__btn{
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/hero/header tablet@2x.jpg');
		background-size: cover;
	}
}
.hero__btn {
	padding-top: 118px;
	padding-bottom: 118px;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url('../images/hero/header desktop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero__btn {
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url('../images/hero/header desktop@2x.jpg');
		background-size: cover;
	}
}
