.close__btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border:  solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--light-color);
 
}
.close--icon{
    width: 11px;
    height: 11px;
}
