.hamburger {
	position: absolute;
	background-color: transparent;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	right: 22px;
	top: 10px;
	line-height: 0;

		&:hover {
		fill: var(--main-color);
		}
	&--icon {
		width: 25px;
		height: 25px;
	}
}

.mobile {
	position: fixed;
	left: 0;
	top: 0;
	height: 796px;
	width: 100%;
	z-index: 100;
	background-color: #fff;
	margin: 0 auto;
	visibility: visible;
	opacity: 1;
	transform: translateX(0) scale(1);
	transition: all 1000ms ease-in, opacity 1000ms ease-in,
		visibility 1000ms ease-in;

	&__close--btn {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 15px;
		right: 35px;
		border: none;
		background-color: transparent;
		line-height: 0;

		&:focus,
		&:hover {
			fill: var(--main-color);
		}
	}	
	&__close--icon{
		width: 25px;
		height: 25px;
	}
	
	&__wraper {
		padding: 48px 40px;
	}
}
.menu-mobile{
	&__list{
		margin-bottom: 302px;
		margin-left: 40px;
		margin-top: 48px;
	}
	&__item{
		text-align: left;
		font-weight: 500;
		font-size: 35px;
		line-height: 1.172;
		letter-spacing: 0.02em;
	
		&:not(:last-child) {
		  margin-bottom: 32px;
		}
	}
	&__link{
		color: var(--secondary-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		
		&:focus,
	 	&:hover{
			fill: var(--main-color);
		}
	}
}
.link-active{
	color: var(--main-color);
}

.mobile-address {
	&__list {
		margin-bottom: 64px;
		margin-left: 40px;
	}

	&__link {
		color: var(--acccent-color);
		font-size: 24px;
		font-weight: 500;
		line-height: 1.167;
		letter-spacing: 0.02em;
	}

	&__item:not(:last-child) {
		margin-bottom: 32px;
	}
}
.address__link--color {
	color: var(--main-color);
	font-size: 34px;
	font-weight: 500;
	line-height: 1.176;
	letter-spacing: 0.02em;
}

.mobile-socials {
	&__list {
		display: flex;
		margin-left: 40px;
		margin-bottom: 48px;
	}
	&__link {
		color: var(--main-color);
		font-size: 18px;
		font-weight: 500;
		line-height: 1.222;
		letter-spacing: 0.02em;
	}
	&__item {
		margin-right: 20px;
		position: relative;
	
		&:not(:first-child)::after {
			position: absolute;
			top: 0;
			left: -10px;
			content: '';
			display: block;
			width: 1px;
			height: 22px;
			background-color: rgba(33, 33, 33, 0.2);
		}
	}
}
