.third__header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--light-color);
	padding-bottom: 20px;
	padding-top: 60px;
	justify-content: center;
	text-align: center;
}
@media screen and (min-width: 1200px) {
	.third__header {
		font-size: 14px;
		padding-bottom: 50px;
		justify-content: center;
		text-align: left;
	}
}
