.third__header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color:var(--light-color);
	padding-top: 12px;
	padding-bottom: 20px;

}