
.container{
    max-width: 100%;
    padding: 0 15px;
}


@media screen and (min-width: 480px) {
    .container{
        max-width: 480px;
        padding: 0 31px;
        margin: 0 auto;
        }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0 15px;
        
        .footer &{
            padding-top: 60px;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
        padding: 0 15px;
    
        
        .footer &{
            padding-top: 60px;
            display: flex;
            text-align: left;
        }
    }
}


/*

 .container{
    width: 1200px;
    padding: 0 15px;
    margin:0 auto;
    
    .header &{
            display:flex;
            align-items: center;
        }

     .footer &{
            padding-top: 60px;
            display: flex;
        }
}       

 */