
.container{
    width: 100%;
    padding: 0 15px;

        .atributes &{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
        }
        .our-team & {
            display: block;
        }
        .our-clients & {
            display: block;
        }
        .footer & {
            display: block;
            text-align: center;
        }
        .portfolio & {
            display: block;
        }
}
@media screen and (min-width: 480px) {
    .container{
        max-width: 480px;
        padding: 0 15px;
        justify-content: space-between;
        display: flex;
    }
}    
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        padding: 0 15px;
        align-items: center;
        
        .footer & {
            padding-top: 60px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
        padding: 0 15px;

        .about & {
            display: block;
        }
    
        
        .footer &{
            padding-top: 60px;
            display: flex;
            text-align: left;
        }
    }
}


