:root{
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196f3;
    --primary-color: #fff;
    --secondary-color: #212121;
    --bgcolor-dark: #2F303A;
    --accent-color: #757575;
    --font-style: normal;
}