:root{
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color: #2196F3 ;
    --secondary-color: #212121;
    --acccent-color: #757575;
    --light-color: #fff;
    --bg-dark: #2F303A;
    --bg-light: #f5f4fa;
    --border-color:  #AFB1B8;
}